@import url('https://fonts.googleapis.com/css?family=Catamaran:300,400,700&subset=latin-ext');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Catamaran', sans-serif;
    background-color: #f8eee7;
}

.section-toggle {
    height: calc(100vh - 200px - 40px - 82px);
    /*border: 1px solid green;*/
}

.container {
    width: 75vw;
    height: 100%;
    margin: 0 auto;
}

.flexownia {
    display: flex;
    align-items: center;
}

/*HEADER*/

header {
    background-color: #94618e;
}

.header-image {
    background: url('../img/logo_kolor.png') center no-repeat;
    min-height: 200px;
    margin: 0 auto;
}

/*NAVIGATION*/

nav {
    background-color: #94618e;
    min-height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: center;
}

.nav-menu-item {
    display: inline-block;
    margin: 0 10px;
}

.nav-menu-item a {
    text-decoration: none;
    display: block;
    padding: 0 30px;
    text-transform: uppercase;
    color: #49274a;
    font-size: 14px;
    font-weight: 700;
}

.nav-menu-item a:hover {
    color: #f8eee7;
    cursor: pointer;
}

/*SLIDER*/

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.slider .slider-wrap {
    height: 100%;
    width: 100%;
}

.slider .slider-wrap .slider-item {
    height: 100%;
    width: 100%;
    display: none;
}

.slider .slider-wrap .slider-item .slider-item-contener {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 100%;
}

.slider .slider-wrap .slider-item .slider-item-contener .slider-item-content {
    width: 600px;
    background-color: rgba(255,255,255,0.8);
    padding: 30px 50px;
    text-align: right;
    line-height: 2em;
    margin-right: 100px;
}

.slider .slider-wrap .slider-item .slider-item-contener .slider-item-content h2 {
    font-size: 30px;
    font-weight: 700;
}

.slider .slider-wrap .slider-item .slider-item-contener .slider-item-content p {
    font-size: 24px;
}

.slider-item:nth-child(1) {
    background-color: #00ffff;
}

.slider-item:nth-child(2) {
    background-color: #7fff00;
}

.slider-item:nth-child(3) {
    background-color: #ff7f50;
}

.slider-item:nth-child(4) {
    background-color: #ff0000;
}

.slider-item:nth-child(5) {
    background-color: #ff1493;
}

.slider-prev,
.slider-next {
    width: 50px;
    border-radius: 50%;
    font-size: 28px;
    color: #f8eee7;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.slider-prev {
    left: 16px;
}

.slider-next {
    right: 16px;
}

.slider-prev:hover,
.slider-next:hover {
    color: #f8eee7;
    text-shadow: none;
}


/*FOOTER*/

footer {
    width: 100%;
    color: #94618e;
    position: absolute;
    bottom: 0;
}

.footer-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.footer-upper-social {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-upper-social-box {
    margin: 0 10px;
}

.footer-upper-social-box:first-child {
    margin-left: 0;
}

.footer-upper-social-box:last-child {
    margin-right: 0;
}

.footer-upper-social-box a {
    color: #94618e;
}

.footer-upper-social-box a:hover {
    color: #49274a;
}

.footer-upper-social-box a i {
    font-size: 40px;
}

.footer-upper-contact-box p {
    color: #94618e;
    text-align: right;
}

.footer-upper-contact-box a {
    color: #94618e;
    text-decoration: none;
}

.footer-lower {
    background-color: #94618e;
    color: #f8eee7;
    min-height: 30px;
    line-height: 30px;
}

.footer-lower-info {
    text-align: center;
    font-size: 14px;
}

.footer-lower-info p {
    font-weight: 300;
}