@import url('https://fonts.googleapis.com/css?family=Catamaran:300,400,700&subset=latin-ext');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Catamaran', sans-serif;
    background-color: #f8eee7;
}

.container {
    width: 75vw;
    margin: 0 auto;
}

/*HEADER*/

header {
    background-color: #94618e;
}

.header-image {
    background: url('../img/logo_kolor.png') center no-repeat;
    min-height: 200px;
    margin: 0 auto;
}

/*NAVIGATION*/

nav {
    background-color: #94618e;
    min-height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: center;
}

.nav-menu-item {
    display: inline-block;
    margin: 0 10px;
}

.nav-menu-item a {
    text-decoration: none;
    display: block;
    padding: 0 30px;
    text-transform: uppercase;
    color: #49274a;
    font-size: 14px;
    font-weight: 700;
}

.nav-menu-item a:hover {
    color: #f8eee7;
    cursor: pointer;
}

/*SLIDER*/

.section-toggle {
    height: calc(100vh - 200px - 40px - 82px);
    border: 1px solid cadetblue;
}

.slider {
    position: relative;
    display: flex;
    /*width: 100%;*/
    /*height: 100%;*/
    overflow: hidden;
}

.slider .slider-wrap {
    position: relative;
    height: 300px;
    width: 100%;
    margin: 0 auto;
}

.slider .slider-wrap .slider-item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}

.slider .slider-wrap .slider-item.active {
    opacity: 1;
}

.slider-item:nth-child(1) {
    background: #00ffff url('http://lorempixel.com/800/450') no-repeat center center;
}

.slider-item:nth-child(2) {
    background: #7fff00 url('http://lorempixel.com/800/450') no-repeat center center;
}

.slider-item:nth-child(3) {
    background: #ff7f50 url('http://lorempixel.com/800/450') no-repeat center center;
}

.slider-item:nth-child(4) {
    background: #ff0000 url('http://lorempixel.com/800/450') no-repeat center center;
}

.slider-item:nth-child(5) {
    background: #ff1493 url('http://lorempixel.com/800/450') no-repeat center center;
}

.slider-prev,
.slider-next {
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 28px;
    color: #f8eee7;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.slider-prev {
    left: 16px;
}

.slider-next {
    right: 16px;
}

.slider-prev:hover,
.slider-next:hover {
    color: #f8eee7;
    text-shadow: none;
}

/*FOOTER*/

footer {
    width: 100%;
    color: #94618e;
    position: absolute;
    bottom: 0;
}

.footer-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.footer-upper-social {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-upper-social-box {
    margin: 0 10px;
}

.footer-upper-social-box:first-child {
    margin-left: 0;
}

.footer-upper-social-box:last-child {
    margin-right: 0;
}

.footer-upper-social-box a {
    color: #94618e;
}

.footer-upper-social-box a:hover {
    color: #49274a;
}

.footer-upper-social-box a i {
    font-size: 40px;
}

.footer-upper-contact-box p {
    color: #94618e;
    text-align: right;
}

.footer-upper-contact-box a {
    color: #94618e;
    text-decoration: none;
}

.footer-lower {
    background-color: #94618e;
    color: #f8eee7;
    min-height: 30px;
    line-height: 30px;
}

.footer-lower-info {
    text-align: center;
    font-size: 14px;
}

.footer-lower-info p {
    font-weight: 300;
}