@import url('https://fonts.googleapis.com/css?family=Catamaran:300,400,700&subset=latin-ext');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Catamaran', sans-serif;
    background-color: #f8eee7;
}

.section-toggle {
    height: calc(100vh - 200px - 40px - 82px);
    /*border: 1px solid green;*/
}

.container {
    width: 75vw;
    height: 100%;
    margin: 0 auto;
}

.flexownia {
    display: flex;
    align-items: center;
}

/*HEADER*/

header {
    background-color: #94618e;
}

.header-image {
    background: url('../img/logo_kolor.png') center no-repeat;
    min-height: 200px;
    margin: 0 auto;
}

/*NAVIGATION*/

nav {
    background-color: #94618e;
    min-height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: center;
}

.nav-menu-item {
    display: inline-block;
    margin: 0 10px;
}

.nav-menu-item a {
    text-decoration: none;
    display: block;
    padding: 0 30px;
    text-transform: uppercase;
    color: #49274a;
    font-size: 14px;
    font-weight: 700;
}

.nav-menu-item a:hover {
    color: #f8eee7;
    cursor: pointer;
}

/*SLIDER*/

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.slider .slider-wrap {
    height: 100%;
    width: 100%;
}

.slider .slider-wrap .slider-item {
    height: 100%;
    width: 100%;
    display: none;
}

.slider .slider-wrap .slider-item .slider-item-contener {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 100%;
}

.slider .slider-wrap .slider-item .slider-item-contener .slider-item-content {
    width: 600px;
    background-color: rgba(255,255,255,0.8);
    padding: 30px 50px;
    text-align: right;
    line-height: 2em;
    margin-right: 100px;
}

.slider .slider-wrap .slider-item .slider-item-contener .slider-item-content h2 {
    font-size: 30px;
    font-weight: 700;
}

.slider .slider-wrap .slider-item .slider-item-contener .slider-item-content p {
    font-size: 24px;
}

.slider-item:nth-child(1) {
    background-color: #00ffff;
}

.slider-item:nth-child(2) {
    background-color: #7fff00;
}

.slider-item:nth-child(3) {
    background-color: #ff7f50;
}

.slider-item:nth-child(4) {
    background-color: #ff0000;
}

.slider-item:nth-child(5) {
    background-color: #ff1493;
}

/*FOOTER*/

footer {
    width: 100%;
    color: #94618e;
    position: absolute;
    bottom: 0;
}

.footer-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.footer-upper-social {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-upper-social-box {
    margin: 0 10px;
}

.footer-upper-social-box:first-child {
    margin-left: 0;
}

.footer-upper-social-box:last-child {
    margin-right: 0;
}

.footer-upper-social-box a {
    color: #94618e;
}

.footer-upper-social-box a:hover {
    color: #49274a;
}

.footer-upper-social-box a i {
    font-size: 40px;
}

.footer-upper-contact-box p {
    color: #94618e;
    text-align: right;
}

.footer-upper-contact-box a {
    color: #94618e;
    text-decoration: none;
}

.footer-lower {
    background-color: #94618e;
    color: #f8eee7;
    min-height: 30px;
    line-height: 30px;
}

.footer-lower-info {
    text-align: center;
    font-size: 14px;
}

.footer-lower-info p {
    font-weight: 300;
}

/*KONTAKT*/

.contact {
    height: 100%;
    padding: 30px;
    color: #49274a;
}

.contact h2 {
    font-size: 26px;
    text-transform: uppercase;
    color: #94618e;
}

.contact h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 8px;
    color: #94618e;
}

.contact p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
    color: #f8eee7;
    letter-spacing: 1px;
}

.contact-szeroki {
    background: url('../img/contact_bg.jpg') no-repeat center/cover;
    height: 100%;
}

.contact-left {
    width: 35%;
    background-color: rgba(78, 32, 75, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-right {
    width: 65%;
    background-color: rgba(250, 238, 230, 0.8);
}

.formularz {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formularz-columns {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.formularz-left-column {
    width: 50%;
    margin-right: 4px;
}

.formularz-right-column {
    width: 50%;
    margin-left: 4px;
}

.formularz input[type="text"],
.formularz input[type="email"],
.formularz textarea {
    outline: none;
    display: block;
    width: 100%;
    padding: 14px;
    font-size: 14px;
    border: none;
    margin-bottom: 8px;
    background-color: #f8eee7;
}

.formularz textarea {
    min-height: 200px;
    margin-bottom: 0;
    resize: none;
}

.formularz input[type="text"]:last-of-type {
    margin-bottom: 0;
}

.formularz input[type="text"]:hover,
.formularz input[type="email"]:hover {
    border-left: 10px solid #94618e;
}

.formularz-bottom-column {
    width: 100%;
    text-align: center;
}

.guzik {
    /*border-radius: 50%;*/
    width: 100px;
    height: 50px;
    border: none;
    background-color: #94618e;
    color: #f8eee7;
    position: relative;
    transition: all .3s;
    margin: 0 2px;
}

.guzik:hover {
    background-color: #49274a;
    cursor: pointer;
}

.guzik .fa {
    font-size: 20px;
}

.wyslij::after {
    display: none;
    content: "Wyślij";
    left: 110px;
    font-size: 18px;
    text-transform: lowercase;
    line-height: 20px;
    color: #94618e;
    position: absolute;
}

.kasuj::before {
    display: none;
    content: "Kasuj";
    right: 110px;
    font-size: 18px;
    text-transform: lowercase;
    line-height: 20px;
    color: #94618e;
    position: absolute;
}

.kasuj:hover::before,
.wyslij:hover::after {
    display: inline-block;
}

/*WYSLANY*/

.wyslany {
    border: 1px solid green;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.wyslany h3 {
    color: #49274a;
    font-size: 36px;
}

.guzik-powrot a {
    width: 300px;
    height: 50px;
    /*padding: 30px 60px;*/
    background-color: #94618e;
    color: #f8eee7;
    /*border-bottom: 2px solid #49274a;*/
    display: block;
    border: 1px solid red;
    text-decoration: none;
}