.wyslany {
    text-align: center;
}

.wyslany h3 {
    color: #49274a;
    font-size: 36px;
    margin-bottom: 30px;
}

.wyslany p {
    color: #94618e;
    font-size: 24px;
    margin-bottom: 30px;
}

.guzik-powrot {
    width: 300px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    background-color: #94618e;
    border-bottom: 4px solid #49274a;
}

.guzik-powrot a {
    text-decoration: none;
    display: block;
    text-align: center;
    color: #f8eee7;
}

.guzik-powrot a:hover {
    color: #49274a;
}